python-dotenv==0.19.0
pandas
pytz
django-environ>=0.8.1
pivottablejs
git+https://github.com/SpringboardEnergySystems/energydesk-python-sdk.git@develop
git+https://${GITHUB_ACCESS_TOKEN}@github.com/SpringboardEnergySystems/energydesk-scheduler-service.git@steinar
git+https://${GITHUB_ACCESS_TOKEN}@github.com/SpringboardEnergySystems/energydesk-marketfeed.git@develop
django-flags
pretty_html_table==0.9.16
django-project-version==0.17.0
deepdiff
markdownify
django-markdownify
croniter
unittest-xml-reporting
folium
jsonfield
pendulum
nbgitpuller
